
@{
    ViewBag.Title = "AboutMoney";
}

<h2>The money core</h2>

<img src="~/Content/Images/money_wallpaper.png" />

<p class="about">
    The money is the biggest power in our modern society, right? <br />
    So, Why not utilize it to our own self benifit? This core helps you with just that.
</p>

<h4 class="about">The power</h4>
<p>
    With this core at your fingertips, you can track your budget through our innovative wallets system. <br/>
    This core can alse give you on-the-fly report about your consumption from the beginning of your usage till the present day! 
    Also, combined with the notes core, this core can calculate the total price of a shopping list if the quantity and the price of the items per unit are provided in it. <br />
</p>

<h4 class="about">Low on budget?</h4>
<p>
    Did you ever thought that you not low on budget but you found out otherwise? Well, not anymore. <br />
    With our low budget alert feature, you can let the assistant alert you whenever you are below a certain value, So that you can remake your choices before it's too late.
</p>


@section scripts{

    <script>
        $(function () {
            console.log("Hello there");

            $('.bg-primary').css("background-color", "#113F11");

        });
    </script>

}

