@{
    ViewBag.Title = "About";
}
<h2><b>Assistant web</b></h2>

<h4>@ViewBag.Message</h4>

<img src="~/Content/Images/core_wallpaper.png" />

<p class="about">
    This website is the power of the 4 assistant products combined in one place
    , providing you with control over your events, purchasing lists, and notes at the tip of your fingers.
</p>

<br />
<br />

<h2><b>The power of the four!</b></h2>
<p>
    The four cores of the assistant are 4 separated apps that work together to provide robust,
    reliable and easy to use managers for your time, money and notes, with the cores assembled
    in one website, each core can extend it's abilities to do more work for you! <br/>
    You can check each core separated from the nav bar above to learn more about what each
    core can do by it's own or combined with another core.
</p>