@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p style="margin-bottom:20px;">Please find me using the information below if you need to ask about anything in this project.</p>

<address>
    <strong>Creator:</strong> Tarek Mohamed
    <br />
    <strong>Country:</strong> Egypt
</address>

<address>
    <strong>Phone:</strong> <text style="color:black;">+2 0106 231 4250</text>
    <br />
    <strong>Gmail:</strong>   <a href="mailto:TarekMohamedIT@gmail.com">TarekMohamedIT@gmail.com</a>
    <br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/tarek-mohamed-11084b16a/">linkedin.com/in/tarek-mohamed-11084b16a</a>
</address>