@{
    ViewBag.Title = "Home Page";
}

<div class="intro">
    <img src="~/Content/Images/main-wallpaper.jpg" alt="" class="intro-img" />
    <div class="text-area">
        <h2 class="intro-title">Experience the best of assistant</h2>
        <h4 class="intro-title">In one bundle!</h4>
    </div>
</div>



<div class="row container" style="margin-top: 30px">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Core feature</div>
            <div class="card-body">
                <h4 class="card-title">The power of the four</h4>
                <p class="card-text">Experience the full potential of the 4 assistant's cores gathered in one place.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Control over time</div>
            <div class="card-body">
                <h4 class="card-title">Offering the best</h4>
                <p class="card-text">Use the maximum of your time by creating scheduals, calculate your shopping list and plan your events.</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">With you, everywhere</div>
            <div class="card-body">
                <h4 class="card-title">Access your assistant wherever you are</h4>
                <p class="card-text">Your assistant can be with you on android, ios, even on the web, wherever you are, you can access your assistant.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col">
        <h2>Collaboration</h2>
    </div>
    <div class="w-100" style="margin-bottom: 20px"></div>
    <div class="col-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque libero
        a ipsum varius auctor. Suspendisse suscipit mauris justo, vel aliquam nisl gravida sed.
        Quisque massa sapien, rhoncus a enim quis, vehicula mollis neque. Nulla felis arcu,
        semper ac iaculis volutpat, consectetur ac ante. Praesent mollis finibus est sed sollicitudin.
        Ut consequat ultrices mauris eu fringilla. Aenean mollis leo non odio finibus euismod vehicula eu
        tellus. Duis sodales, ligula a fringilla mollis, arcu tortor tempor massa, nec commodo libero justo
        sit amet risus. Nullam ut elit nec nisi interdum tincidunt ut eu urna. Donec laoreet turpis
        ac blandit venenatis. Maecenas dapibus in neque quis pharetra. <br />
        Aliquam sollicitudin tellus sit amet erat laoreet elementum. Quisque sit amet tincidunt lacus,
        vitae viverra dolor. Sed congue orci at metus condimentum, a pretium lectus cursus. Aliquam blandit scelerisque tellus,
        non pharetra nulla volutpat a. Quisque sit amet sapien vehicula, ultricies est eu, lobortis purus.
        Aliquam vestibulum congue fringilla. Phasellus mollis metus risus, sit amet cursus orci ullamcorper nec.
        Ut aliquam a nisl in laoreet. Sed iaculis, enim ut imperdiet posuere, tellus libero mattis mi,
        eget feugiat justo orci ut eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos.
    </div>
    <div class="col-6">
        <img class="img-fluid" src="~/Content/Images/collaboration.jpg" alt="collaborate" />
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col">
        <h2>Simplicity</h2>
    </div>
    <div class="w-100" style="margin-bottom: 20px"></div>
    <div class="col-6">
        <img class="img-fluid" src="~/Content/Images/simplicity.jpeg" alt="collaborate" />
    </div>
    <div class="col-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque libero
        a ipsum varius auctor. Suspendisse suscipit mauris justo, vel aliquam nisl gravida sed.
        Quisque massa sapien, rhoncus a enim quis, vehicula mollis neque. Nulla felis arcu,
        semper ac iaculis volutpat, consectetur ac ante. Praesent mollis finibus est sed sollicitudin.
        Ut consequat ultrices mauris eu fringilla. Aenean mollis leo non odio finibus euismod vehicula eu
        tellus. Duis sodales, ligula a fringilla mollis, arcu tortor tempor massa, nec commodo libero justo
        sit amet risus. Nullam ut elit nec nisi interdum tincidunt ut eu urna. Donec laoreet turpis
        ac blandit venenatis. Maecenas dapibus in neque quis pharetra. <br />
        Aliquam sollicitudin tellus sit amet erat laoreet elementum. Quisque sit amet tincidunt lacus,
        vitae viverra dolor. Sed congue orci at metus condimentum, a pretium lectus cursus. Aliquam blandit scelerisque tellus,
        non pharetra nulla volutpat a. Quisque sit amet sapien vehicula, ultricies est eu, lobortis purus.
        Aliquam vestibulum congue fringilla. Phasellus mollis metus risus, sit amet cursus orci ullamcorper nec.
        Ut aliquam a nisl in laoreet. Sed iaculis, enim ut imperdiet posuere, tellus libero mattis mi,
        eget feugiat justo orci ut eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos.
    </div>
    
</div>

