@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The assistant</h1>
    <p class="lead">
        The assistant project aims to combine the power of the 4 cores
        in one big assistant core to experience the full power of them
    </p>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Core feature</div>
            <div class="card-body">
                <h4 class="card-title">The power of the four</h4>
                <p class="card-text">Experience the full potential of the 4 assistant's cores gathered in one place.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Control over time</div>
            <div class="card-body">
                <h4 class="card-title">Offering the best</h4>
                <p class="card-text">Use the maximum of your time by creating scheduals, calculate your shopping list and plan your events.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">With you, everywhere</div>
            <div class="card-body">
                <h4 class="card-title">Access your assistant wherever you are</h4>
                <p class="card-text">Your assistant can be with you on android, ios, even on the web, wherever you are, you can access your assistant.</p>
            </div>
        </div>
    </div>

</div>